@charset "utf-8";

//メディアクエリ
@mixin mobile-view {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tab-view {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin lg-view {
  @media (max-width: 1200px) {
    @content;
  }
}

//画像画面いっぱい
@mixin wide-image($image-url) {
  background-image: url($image-url);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
