@charset "utf-8";

/**
**基礎フォント
**/
$serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
  "HG明朝E", "ＭＳ Ｐ明朝", serif;

//フォントカラー
$font-color: #212529;

/**
**基調色3
**/
$first-color: #fc0248;
$second-color: #2a00ff;
$third-color: #40ff03;
